version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: crud-dd-task-mean-ap_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: crud-dd-task-mean-ap_backend
    ports:
      - "8081:8081"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: crud-dd-task-mean-ap_frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo_data:
