version: "3"
services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: backend
    ports:
      - "8081:3000"
    depends_on:
      - mongodb
    environment:
      - MONGO_URL=mongodb://mongodb:27017/testdb

  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
